* {
    font-family: sans-serif;
}
body {
    background-color: #ff9de2;
    background-repeat: no-repeat;
    background-size: 100%;
}
table {
    width: 50%;
}
table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
th {
    width: 25%;
}
table.center {
    margin-left:auto;
    margin-right:auto;
}
table:first-child {
    height: auto;
}
tr:nth-child(even){
    background-color: #8C82FC;
}
tr:nth-child(odd){
    background-color: #B693FE;
}
#tops {
    text-align: center;
}
tr * {
    color: white;
}
h4 {
    text-align: center;
}
hr {
    background-color: black;
    color: black;
    height: 2px;
    border-color: black;
}
button {
    background-color: #7EFFDB;
    margin-top: 10px;
    margin-left: 20px;
}
div.centered {
    text-align: center;
}
#opened {
    visibility: hidden;
    text-align: center;
}
.ui-widget-content {
    border: 2px solid #DDD;
    background-color: #FF9DE2;
}
.pay {
    border: 1px black dashed;
}
